/*Composition*/

button {
  font-style: italic;
  font-size: 1.5rem;
  letter-spacing: 2px;
  border: 4px solid #000;

  margin-block: 1rem;
  /* padding: 2px 4px; for button size*/
  cursor: pointer;
  outline: none;
  box-shadow: 4px 4px 0 black, 8px 8px 0 #bbb, 12px 12px 0 black;
  transition: all 0.2s ease;
  /* font-family: "Comic Sans"; */
  &:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0 black, 4px 4px 0 #bbb, 6px 6px 0 black;
  }

  &:in(:active, :focus-visible) {
    filter: brightness(1.5);
  }
}

body {
  background-color: rgba(161, 0, 0, 0.3);
  font-family: "Open Sans";
}

/*Utilities*/

.text-shadow {
  text-shadow: 1px 1px 2px black;
}

.red-text {
  color: #a10000;
}

.white-text {
  color: #fff;
}

.black-text {
  color: #000;
}

.h1-size {
  font-size: 4rem;
}

.h2-size {
  font-size: 2rem;
}

.li-size {
  font-size: 1.25rem;
}

.inline-size {
  max-inline-size: 15ch;
}

.no-text-deco {
  text-decoration: none;
}

.no-list {
  list-style: none;
}

.align-text {
  text-align: center;
}

.italic-text {
  font-style: italic;
}

#featured {
  border: 2px solid rgba(161, 0, 0, 0.3);
}

.overlay {
  border-image: fill 1
    linear-gradient(hsl(0 100% 50 / 0.5), hsl(240 100% 50% / 0.5));
}

.flex {
  display: flex;
}

.flex-dir-col {
  flex-direction: column;
}

.block {
  display: block;
}

.border-r {
  border-radius: 3px;
}

.margin-0 {
  margin: 0;
}

.margin-1 {
  margin: 1rem;
}

.padding-0 {
  padding: 0;
}

.flow > * + * {
  margin-block-start: 1.5rem;
}

/*Block*/

.nav-header {
  display: flex;
  justify-content: space-between;
  margin-inline: 2rem;
  text-align: center;

  > a {
    margin-block: 0.5rem;
  }

  nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      margin-block: 1rem;
    }
  }
}

.link {
  box-shadow: inset 0 0 0 0 #a10000;
  color: #000000;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #a10000;
    text-decoration: underline;
  }

  &:active {
    color: rgba(245, 245, 245, 0.6);
    text-decoration: dashed;
  }
}

.hero-bg {
  background-image: url("../../images/heropan.jpg");
  padding: 8rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cards {
  display: grid;
  /* grid-template-columns: repeat(3, 300px); */
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  justify-content: center;
  gap: 1em;
  margin-inline: 5rem;
  height: auto;

  .card {
    background-color: #fff;
    border: solid 1px rgb(167, 167, 167);

    padding: 1rem;
    * + * {
      margin-top: 0.25em;
    }

    img {
      height: 30ch;
      width: 100%;
      object-fit: cover;
    }

    &:hover {
      filter: brightness(0.9);
      transition: 0.3s;

      &:is(#featured) {
       background-color: rgba(161, 0, 0, 0.3);
      }
    }

    &:active {
      filter: brightness(1.1);
    }
  }
}

.skip {
  /*Skip link*/
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus {
    position: static;
    width: auto;
    height: auto;
  }
}

.wrapper {
  max-inline-size: 1280px;
  margin: auto;
  background-color: #f9f9f9;

  & > :not(header) {
    padding-bottom: 1rem;
  }
}
