:root {
  /*Global Variables*/
  --clr-pr: rgba(rgba(161 0 0 0.3));
  --clr-accent: rgb(161, 0, 0);
  --clr-gray: #ebebeb;
  --clr-gray-2: rgb(167 167 167);
  --clr-white: #fff;
  --clir-black: #000;

  /*Fonts*/
  --fs-l: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-xxl: 1.75rem;
  --fs-banner: 4rem;

  /*Spacing*/
  --base: 0.25rem;
}

/*Composition*/

button {
  font-style: italic;
  font-size: 1.5rem;
  letter-spacing: 2px;
  border: 4px solid #000;

  margin-block: 1rem;
  /* padding: 2px 4px; for button size*/
  cursor: pointer;
  outline: none;
  box-shadow: 4px 4px 0 black, 8px 8px 0 #bbb, 12px 12px 0 black;
  transition: all 0.2s ease;
  /* font-family: "Comic Sans"; */
  &:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0 black, 4px 4px 0 #bbb, 6px 6px 0 black;
  }

  &:in(:active, :focus-visible) {
    filter: brightness(1.5);
  }
}

body {
  background-color: var(--clr-pr);
  font-family: "Open Sans", "Roboto", sans-serif;
}

li {
  line-height: 2;
}

.text-bg {
  background-color: var(--clr-gray);
  padding: 1rem;
}

/*Utilities*/

.text-shadow {
  text-shadow: 1px 1px 2px var(--clir-black);
}

.red-text {
  color: var(--clr-accent);
}

.white-text {
  color: var(--clr-white);
}

.black-text {
  color: var(--clir-black);
}

.h1-banner-size {
  font-size: var(--fs-banner);
}

.h1-size {
  font-size: var(--fs-xxl);
}

.h2-size {
  font-size: var(--fs-xl);
}

.li-size {
  font-size: var(--fs-l);
}

.li-indent {
  padding-left: 2rem;
}

.inline-size {
  max-inline-size: 15ch;
}

.no-text-deco {
  text-decoration: none;
}

.no-list {
  list-style: none;
}

.align-text {
  text-align: center;
}

.italic-text {
  font-style: italic;
}

#featured {
  border: 2px solid var(--clr-pr);
}

.overlay {
  border-image: fill 1
    linear-gradient(hsl(0 100% 50 / 0.3), hsla(282, 100%, 50%, 0.3));
}

.flex {
  display: flex;
}

.flex-dir-col {
  flex-direction: column;
}

.block {
  display: block;
}

.border-r {
  border-radius: 3px;
}

.margin-0 {
  margin: 0;
}

.margin-i-1 {
  margin-inline: 1rem;
}

.margin-i-3 {
  margin-inline: 3rem;
}

.margin-b-1 {
  margin-block: 1rem;
}

.padding-0 {
  padding: 0;
}

.padding-1 {
  padding: 1rem;
}

.m-5 {
  margin-inline: calc(16 * var(--base));
}

.flow > * + * {
  margin-block-start: 1.5rem;
}

/*Block*/

.nav-header {
  display: flex;
  justify-content: space-between;
  margin-inline: 2rem;
  text-align: center;

  > a {
    margin-block: 0.5rem;
  }

  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      padding-left: 0;
    }
  }
}

.link {
  box-shadow: inset 0 0 0 0 #a10000;
  color: #000000;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    color: #fff;
    box-shadow: inset 100px 0 0 0 #a10000;
    text-decoration: underline;
  }

  &:active {
    color: rgba(245, 245, 245, 0.6);
    text-decoration: dashed;
  }
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  gap: 2rem;
  .image {
    aspect-ratio: 1 / 1;
    /* max-height: 500px; */
    width: 100%;
    object-fit: cover;
  }
}

.hero-bg {
  background-image: url("../../images/heropan.jpg");
  padding: 8rem;
  background-position: top;
  background-size: cover;
}

/* .hero-wrapper {
  display: grid;
  place-items: center;
}

.hero {
  display: block;
  object-fit: cover;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.text-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  height: max-content;
  width: 100%;
  padding: 2em;
} */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  justify-content: center;
  gap: 1em;
  margin-inline: 5rem;
  align-items: stretch;

  .card {
    background-color: var(--clr-white);
    border: solid 1px var(--clr-gray-2);
    height: 100%;
    padding: 1rem;

    * + * {
      margin-top: 0.4em;
    }

    img {
      height: 30ch;
      width: 100%;
      object-fit: cover;
    }

    &:hover {
      filter: brightness(0.9);
      transform: scale(1.01);
      transition: 0.3s;

      &:is(#featured) {
        background-color: var(--clr-pr);
      }
    }

    &:active {
      filter: brightness(1.1);
    }
  }
}

.skip {
  /*Skip link*/
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus {
    position: static;
    width: auto;
    height: auto;
  }
}

.wrapper {
  max-inline-size: 1280px;
  margin: auto;
  background-color: #f9f9f9;

  & > :not(header) {
    padding-bottom: 1rem;
  }
}
